<h2>Forms in Angular</h2>

<br/>
Current weather: <br/>
Temp: {{temperature | number:'3.5'}}
Pressure: {{pressure | currency}}
Humidity : {{humidity}}
<hr/>
<!--
<button (click)="getWeather()">Get the weather</button>
-->
<!--
Way 0: straight up html form tags, right to external URL
<form action="http://localhost:3000/routeHere" method="post">
  <label>City </label><input name="city"><br/>  on req.body.city and so on
  <label>Units </label><input name="units"><br/>
  <button type="submit">Submit</button>
</form>
-->

<br/>
 Way 1: use ngModel to bind variables, then call a function from Submit button
<form (ngSubmit)="getWeatherByCity()">
  City: <input name="city" [(ngModel)]="city">
  State: <input name="state" [(ngModel)]="state">
  Units: <input name="units" [(ngModel)]="units">
  <button type="submit">Submit</button>

</form>


<!--
<app-child-a [(wxReport)] = "wxReport"></app-child-a>
-->









<!--
Way 2: Simple FormControls
<br/>
[formControl] is really similar to [ngModel], adds validation etc

City: <input  [formControl]="cityControl2"> : {{city}}<br/>
Units: <input  [formControl]="unitsControl2" ><br/>
<button (click)="getWeatherByCityWay2()">Submit</button>
Errors: {{cityControl2.errors}}
Invalid: {{cityControl2.invalid}}
<div *ngIf="cityControl2.invalid">
  Show an error message
</div>
<br/>
-->










<!--
Way 3: FormGroup as a way to contain FormControls
Note that we're using formControlName here to get to controllers inside the form
Note that this also works with FormBuilder service (same syntax in HTML)


<br/>
<form [formGroup]="weatherFormGroup" (ngSubmit)="getWeatherByCityWay3()">
  City: <input  formControlName="cityControl"> : {{city}}<br/>
  Units: <input  formControlName="unitsControl" ><br/>
  <button type="submit">Submit</button>
</form>
<br/>


{{weatherFormGroup | json}}
<br/>
{{weatherFormGroup | currency}}

-->
